# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# vscode
.vscode

# Mac
.DS_Store

# Maven
log/
target/
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
